<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="https://schemas.android.com/apk/res/android"
    package="com.morechili.yuki.library.m9games"
    xmlns:tools="https://schemas.android.com/tools" >

    <application android:usesCleartextTraffic="true">

        <!-- android:taskAffinity 填上游戏的包名，如游戏包名为cn.uc.gamesdk.demo，则下面填 cn.uc.gamesdk.demo.diff -->
        <!-- data android:scheme 里填上”ng+当前游戏的gameId”,如游戏ID是123456,则填上ng123456 -->
        <activity
            android:name="cn.uc.gamesdk.activity.PullupActivity"
            android:theme="@android:style/Theme.Translucent"
            android:taskAffinity="cn.uc.gamesdk.demo.diff"
            android:excludeFromRecents="true"
            android:label="PullupActivity"
            android:launchMode="singleTop"
            tools:node="replace"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ng1166876" />
            </intent-filter>
        </activity>

        <!-- sdk service  1.1.3新增 -->
<!--        <service-->
<!--            android:name="cn.gundam.sdk.shell.service.ProxyService"-->
<!--            android:process=":bgservice"-->
<!--            android:exported="false"-->
<!--            tools:replace="android:exported"/>-->
        <!-- sdk service end-->
    </application>

</manifest>
