<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <application>
    <meta-data android:name="android.max_aspect"  android:value="2.4" />
    <meta-data android:name="debug_mode" android:value="false" /> <!-- 调试开关，发布时候设置false -->
    <meta-data android:name="is_offline_game" android:value="true" /> <!-- true:单机游戏 false:网游 -->
    <meta-data android:name="app_key" android:value="" /> <!--appKey,务必换成游戏自己的参数 -->
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
    <!--9.0及以上设备可能需要 -->
  </application>
</manifest>
